:root {
  --vert: #116913;
  --vertClair: #86b344;
  --vertTresClaire: #e9facf;
  --gold: #FFB31A;
  --orange: #ea851a;
  --marron: #854f0d;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
  }





